{% extends 'base.html.twig' %}

{% block body %}

    <!-- START CONTENT -->
    <section id="content">

        <!--breadcrumbs start-->
        <div id="breadcrumbs-wrapper">
            <!-- Search for small screen -->
            <div class="header-search-wrapper grey hide-on-large-only">
                <i class="mdi-action-search active"></i>
                <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <h5 class="breadcrumbs-title">Réservation match</h5>
                        <ol class="breadcrumbs">
                            <li><a href="{{ path('homepage') }}">Dashboard</a></li>
                            <li><a href="#">Réservations</a></li>
                            <li><a href="{{ path('booking_match_index') }}">Matchs</a></li>
                            <li class="active">Réservation</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!--breadcrumbs end-->


        <!--start container-->
        <div class="container">
            <div class="section">
                {% if fields == null %}
                    <div id="card-alert" class="card deep-purple lighten-5">
                        <div class="card-content deep-purple-text">
                            <p><i class="mdi-action-info "></i> INFO : Pour accéder aux réservations ajoutées <i class="mdi-content-add-circle green-text"></i> au moins terrain.</p>
                        </div>
                        <button type="button" class="close deep-purple-text" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                {% else %}
                    <!--booking form-->
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="card-panel">
                                <div class="row form-booking-search">
                                    <form name="form" method="POST" action="{{ path('search_match') }}" class="col s12">
                                        {#<h4 class="header2">Réservation</h4>#}
                                        {{ form_row(form._token) }}
                                        <div class="row">
                                            <div class="input-field col s4 offset-s1">
                                                {#<i class="mdi-action-view-array prefix"></i>#}
                                                {{ form_widget(form.field) }}
                                                {{ form_label(form.field, 'Terrain') }}
                                            </div>
                                            <div class="input-field col s4">
                                                <i class="mdi-action-today prefix"></i>
                                                {{ form_widget(form.date, {'attr':{'placeholder': 'jj/mm/aaaa'}}) }}
                                                {{ form_label(form.date, 'Date') }}
                                            </div>
                                            <div class="input-field col s2">
                                                <div class="input-field col s12">
                                                    <button type="button" class="btn waves-effect waves-light yellow accent-4 black-text" name="action" id="search-match"> Rechecher</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end booking form-->
                {% endif %}
                <div class="divider"></div>

                <div id="preloader-page-content" class="card-panel center-align z-depth-0 hide" style="position: absolute; top: 50%; left: 50%;">
                    <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div><br>S'il vous plaît, attendez...
                </div>
                {# == List all booking match to day == #}
                <div id="booking-to_day">
                    {% for field in fields %}

                        <div class="row">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content row">
                                        <div class="col s3">
                                            <span class="card-title"><i class="medium mdi-action-view-array left"></i> {{ field.name }}</span>
                                        </div>
                                        <div class="col s6">
                                            <p><i class="mdi-action-info-outline"></i> <b>Capacité</b>: {{ field.capacity }} joueurs</p>
                                            <p>
                                                {% set hideClass = null %}
                                                {% for planning in field.planning if planning.field.id == field.id %}
                                                    <i class="mdi-notification-event-available"></i> <b>Période</b>: De <b>{{ planning.dateStart|date('d/m/Y') }}</b> à <b>{{ planning.dateEnd|date('d/m/Y') }}</b>
                                                {% else %}
                                                    {% set hideClass = 'hide' %}
                                                    <i class="mdi-notification-event-available"></i> <b>Période</b>: <span class="red-text"><i class="mdi-alert-warning"></i> Non disponible</span>
                                                {% endfor %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>
                {# == List all booking match by date == #}
                <div id="booking-search"></div>


            </div>
        </div>
        <!--end container-->

    </section>
    <!-- END CONTENT -->

    <!-- Loader -->
    {% include 'AppBundle:loader:loader_form.html.twig' %}
    <!-- end Loader -->

    <style>
        .card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
            margin-right: 0px;
        }
        .btn.disabled {
            background-color: #DFDFDF !important;
            box-shadow: none;
            color: #000 !important;
            cursor: default;
        }
    </style>

{% endblock body %}










