{% block body %}

    <!-- Modal Structure -->
    {{ form_start(form, {'attr':{'id': 'formValidate', 'class': 'formValidate', 'novalidate': 'novalidate'}}) }}
    <div class="modal-content">
        <h5 class="flow-text"><i class="small left mdi-editor-border-color"></i>Modifiez centre</h5><br>
        {#<div class="divider"></div><br>#}
        {{ form_row(form._token) }}
        <div class="row">
            <div class="input-field col s12 m12 ">
                <div class="avatar-exist">
                    <input type="text" id="input-file-now" name="center[avatar]" class="dropify" value="{{ center.avatar }}" data-disable-remove="true" data-default-file="{% if center.avatar is empty %}{% else %}{{ asset('uploads/avatars/'~center.avatar) }}{% endif %}" />
                </div>
                <div class="avatar-edit"></div>
                <br><button type="button" class="btn-clear waves-effect waves-light blue lighten-4 blue-text btn z-depth-0 right">Modifier</button>
            </div>
            <div class="input-field col s12 m6">
                <label for=name" class="">Nom*</label>
                {{ form_widget(form.name) }}
            </div>
            <div class="input-field col s12 m6">
                <label for="region" class="active">Région*</label>
                {{ form_widget(form.region) }}
            </div>
            <div id="city" class="input-field col s12 m6">
                <label for="city" class="active">Ville*</label>
                {{ form_widget(form.city) }}
            </div>
            <div class="input-field col s12 m6">
                <label for="address">Adresse*</label>
                {{ form_widget(form.address) }}
            </div>
            <div class="input-field col s12 m6">
                <label for="cp">Code postal*</label>
                {{ form_widget(form.cp) }}
            </div>
            <div class="input-field col s6">
                <label for="phone" class="active">Téléphone</label>
                {{ form_widget(form.phone) }}
            </div>
            {#<div class="input-field col s12 m6">#}
                {#<p>#}
                    {#{{ form_widget(form.is_active, {'id': 'filled-in-box', 'attr': {'class': 'filled-in'}}) }}#}
                    {#<label for="filled-in-box">Active ?</label>#}
                {#</p>#}
            {#</div>#}
            <div class="input-field col s12">
                <label for="service" class="active">Service</label>
                {{ form_widget(form.service) }}
            </div>
            <div class="input-field col s12">
                <div class="right-align">{% for item in center.service %}<div class="chip">{{ item }}</div>&nbsp;{% endfor %}</div><br>
            </div>
        </div>
    </div>
    <div class="modal-footer right-align">
        <button type="button" class="modal-action waves-effect waves-light yellow accent-4 black-text btn" id="save">Enregistrer</button>
        <button type="button" class="modal-action modal-close waves-effect btn-flat" id="cancel">Annuler</button>
    </div>
    {{ form_end(form, { 'render_rest': false } ) }}
    <!-- /End Modal Structure -->

{% endblock %}

<script>
    $(document).ready(function() {
        // avatar
        var $avataEdit = '<input type="file" id="input-file-now" name="center[avatar]" class="dropify" data-default-file="" />';
        $('.btn-clear').on('click', function () {
            $('.avatar-exist').remove();
            $('.avatar-edit').append($avataEdit);
            $('.dropify').dropify({
                messages: {
                    default: 'Glissez-déposez un logo ici ou cliquez',
                    replace: 'Glissez-déposez un logo ou cliquez pour remplacer',
                    remove:  'Supprimer',
                    error:   'Désolé, le fichier trop volumineux'
                }
            });
        });
    });
</script>