{% extends 'base.html.twig' %}

{% block body %}

    <!-- START CONTENT -->
    <section id="content">

        <!--breadcrumbs start-->
        <div id="breadcrumbs-wrapper">
            <!-- Search for small screen -->
            <div class="header-search-wrapper grey hide-on-large-only">
                <i class="mdi-action-search active"></i>
                <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <h5 class="breadcrumbs-title">Centres</h5>
                        <ol class="breadcrumbs">
                            <li><a href="{{ path('homepage') }}">Dashboard</a></li>
                            <li><a href="#">Utilisateurs</a></li>
                            <li class="active">Centers</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!--breadcrumbs end-->


        <!--start container-->
        <div class="container">
            <div class="section">
                {#<p class="caption">Tables are a nice way to organize a lot of data. We provide a few utility classes to help you style your table as easily as possible. In addition, to improve mobile experience, all tables on mobile-screen widths are centered automatically.</p>#}
                <div class="divider"></div>
                <!--DataTables example-->
                <div id="table-datatables" class="card-panel">
                    <div class="row">
                        <div class="col s12">
                            <table id="data-table-simple" class="responsive-table display" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nom</th>
                                    <th>Adresse</th>
                                    <th>Téléphone</th>
                                    <th>Date de création</th>
                                    <th>Statut</th>
                                    {#<th>Date de mis à jour</th>#}
                                    <th class="right-align">Actions</th>
                                </tr>
                                </thead>

                                {#<tfoot>#}
                                {#<tr>#}
                                    {#<th>Id</th>#}
                                    {#<th>Nom</th>#}
                                    {#<th>Statut</th>#}
                                    {#<th class="right-align">Actions</th>#}
                                {#</tr>#}
                                {#</tfoot>#}

                                <tbody>
                                {% for center in centers %}
                                    <tr>
                                        <td>{{ center.id }}</td>
                                        <td>
                                            <div class="chip">
                                                <i class="mdi-communication-business"></i> {{ center.name }}
                                            </div>
                                        </td>
                                        <td>{{ center.region.name}}, {{ center.city.name }}</td>
                                        <td>{{ center.phone}}</td>
                                        <td>{{ center.created|date('d/m/Y') }}</td>
                                        <td><!-- Switch -->
                                            <div class="switch">
                                                <label>
                                                    Non
                                                    {% if center.isActive == true %}
                                                        <input type="checkbox" class="center_stat" id="{{ center.id }}"  data-href="{{ path('center_disable', {'id': center.id}) }}" checked>
                                                    {% else %}
                                                        <input type="checkbox" class="center_stat" id="{{ center.id }}"  data-href="{{ path('center_enable', {'id': center.id}) }}">
                                                    {% endif %}
                                                    <span class="lever"></span>
                                                    Oui
                                                </label>
                                            </div>
                                        </td>
                                        <td class="right-align">
                                            {% if center.user|length == null %}
                                                <a href="{{ path('fos_user_registration_register') }}" class="btn-floating waves-effect waves-light grey lighten-3 modal_trigger"><i class="mdi-social-person grey-text"></i></a>
                                            {% endif %}
                                            <button type="button" data-href="{{ path('center_edit', { 'id': center.id }) }}" class="btn-floating waves-effect waves-light grey lighten-3 modal_trigger"><i class="mdi-editor-mode-edit grey-text"></i></button>
                                            <button type="button" data-href="{{ path('center_delete', { 'id': center.id }) }}" class="btn-floating waves-effect waves-light grey lighten-3 btn-warning-confirm"><i class="mdi-action-delete grey-text"></i></button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--end container-->

    </section>
    <!-- END CONTENT -->

    <!-- Btn Add Trigger -->
    <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
        <button type="button" data-href="{{ path('center_new') }}" class="btn-floating waves-effect waves-light green modal_trigger"><i class="mdi-content-add-circle green-text text-lighten-4"></i></button>
    </div>

    <!-- Loader -->
    {% include 'AppBundle:loader:loader_form.html.twig' %}
    <!-- end Loader -->

{% endblock body %}