{% block body %}

    <!-- Modal Structure -->
    {{ form_start(form, {'attr':{'id': 'formValidate', 'class': 'formValidate', 'novalidate': 'novalidate'}}) }}
    <div class="modal-content">
        <h5 class="flow-text"><i class="small left mdi-content-add-circle"></i> Ajouter un nouveau période</h5><br>
        {{ form_row(form._token) }}
        <div class="row">
            <div class="input-field col s12">
                <label for="field" class="active">Terrain*</label>
                {{ form_widget(form.field, {'attr':{'class': 'fieldClass', 'data-error': '.field'}}) }}
                <div class="field"></div>
            </div>
            <div class="input-field col s12">
                <label for="description" class="">Description*</label>
                {{ form_widget(form.description, {'attr':{'data-error': '.description'}}) }}
                <div class="description"></div>
            </div>
            <div class="input-field col s12">
                <label for="date_start" class="active">Date de départ*</label>
                {{ form_widget(form.date_start, {'attr':{'data-error': '.date_start'}}) }}
                <div class="date_start"></div>
            </div>
            <div class="input-field col s12">
                <label for="date_end" class="active">Date de fin*</label>
                {{ form_widget(form.date_end, {'attr':{'data-error': '.date_end'}}) }}
                <div class="date_end"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="modal-action waves-effect waves-light yellow accent-4 black-text btn" id="save">Enregistrer</button>
        <button type="button" class="modal-action modal-close waves-effect btn-flat" id="cancel">Annuler</button>
    </div>
    {{ form_end(form, { 'render_rest': false } ) }}

{% endblock %}

<script>

    $(document).ready(function(){
        //
        $("#formValidate").validate({
            rules: {
                'planning[description]' : {
                    required: true
                },
                'planning[date_start]': {
                    required: true
                },
                'planning[date_end]': {
                    required: true
                },
                'planning[field]': {
                    required: true
                }
            },
            //For custom messages
            messages: {
                'planning[description]' : {
                    required: "Champs requis"
                },
                'planning[date_start]': {
                    required: "Champs requis"
                },
                'planning[date_end]': {
                    required: "Champs requis"
                },
                'planning[field]': {
                    required: "Champs requis"
                }
            },
            errorElement : 'div',
            errorPlacement: function(error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            }
        });

    });

</script>

