{% block body %}

    <!-- Modal Structure -->
    <div class="modal-content">
        <h5 class="flow-text">{{ field.name }}</h5><br>
        {#<div class="divider"></div><br>#}
        <div class="row"><strong>Description :</strong>
                <div class="col-sm-10">{{ field.description }}</div>
        </div>
        <div class="row"><strong>Capacité : </strong>{{ field.capacity }}</div>
        <div class="row"><strong>Centre : </strong>{{ field.center }}</div>
        <div class="row"><strong>Séances : </strong><br><br>
            {% for item in sessions %}
                <div class="col s2">
                    <div class="chip"><i class="mdi-action-alarm"></i> {{ item.timeStart|date('H:i') }} - {{ item.timeEnd|date('H:i') }} </div><br><br>
                </div>
            {% endfor %}
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</button>
    </div>

{% endblock %}
