{% block body %}

    <!-- Modal Structure -->
    <div id="booking_details"> {# ** form booking details ** #}
        {{ form_start(form, {'attr':{'id': 'formValidate', 'class': 'formValidate', 'novalidate': 'novalidate'}}) }}
            <div class="modal-content">
                <h4 class="header2">Réservez un abonnement</h4><br>
                {{ form_row(form._token) }}
                <div class="row form_customer">
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <div class="input-field col s12">
                            <label class="active">Centre*</label>
                            {{ form_widget(form.center) }}
                        </div>
                    {% else %}
                        <div class="input-field col s12 hide">
                            <input type="hidden" id="customer_center" name="customer[center]" required="required" value="{{ app.user.center.id }}"/>
                        </div>
                    {% endif %}
                    <div class="input-field col s2">
                        <label for="time_end" class="active">Sexe*</label>
                        {{ form_widget(form.sexe, {'attr': {'data-error': '.sexe'}}) }}
                        {{ form_errors(form.sexe) }}
                        <div class="sexe"></div>
                    </div>
                    <div class="input-field col s5">
                        <label for="time_end" class="active">Nom*</label>
                        {{ form_widget(form.firstname, {'attr': {'data-error': '.firstname'}}) }}
                        {{ form_errors(form.firstname) }}
                        <div class="firstname"></div>
                    </div>
                    <div class="input-field col s5">
                        <label for="time_end" class="active">Prénom*</label>
                        {{ form_widget(form.lastname, {'attr': {'data-error': '.lastname'}}) }}
                        {{ form_errors(form.lastname) }}
                        <div class="lastname"></div>
                    </div>
                    <div class="input-field col s12">
                        <label for="time_end" class="active">Email*</label>
                        {{ form_widget(form.email, {'attr': {'data-error': '.email'}}) }}
                        {{ form_errors(form.email) }}
                        <div class="email"></div>
                    </div>
                    <div class="input-field col s12">
                        <label for="time_end" class="active">Téléphone*</label>
                        {{ form_widget(form.phone, {'attr': {'data-error': '.phone'}}) }}
                        {{ form_errors(form.phone) }}
                        <div class="phone"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="modal-action waves-effect waves-light yellow accent-4 black-text btn" id="save">Enregistrer</button>
                <button type="button" class="modal-action modal-close waves-effect btn-flat" id="cancel">Annuler</button>
            </div>
        {{ form_end(form, { 'render_rest': false } ) }}
    </div>

    {# ** create a new customer ** #}
    <div id="form_new_customer"> </div>

{% endblock %}

<script>

    $(document).ready(function() {
        $("#formValidate").validate({
            rules: {
                'customer[sexe]' : {
                    required: true
                },
                'customer[firstname]': {
                    required: true,
                    minlength: 2
                },
                'customer[lastname]': {
                    required: true,
                    minlength: 2
                },
                'customer[email]': {
                    required: true,
                    email: true
                },
                'customer[phone]': {
                    required: true,
                    number: true
                }
            },
            //For custom messages
            messages: {
                'customer[sexe]' : {
                    required: "Selectionner une sexe"
                },
                'customer[firstname]': {
                    required: "Saisier le nom",
                    minlength: "minimum 2 characteres"
                },
                'customer[lastname]': {
                    required: "Saisier le prénom",
                    minlength: "minimum 2 characteres"
                },
                'customer[email]': {
                    required: "Saisier l'adresse mail",
                    email: "format non valide"
                },
                'customer[phone]': {
                    required: "Saisier le numéro de téléphone",
                    number: "format non valide"
                }
            },
            errorElement : 'div',
            errorPlacement: function(error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            }
        });
    });

</script>