{% if fields is iterable %}

    {% for field in fields %}
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content row">
                        <div class="col s3">
                            <span class="card-title"><i class="medium mdi-action-view-array left"></i> {{ field.name }}</span>
                        </div>
                        <div class="col s6">
                            <p><i class="mdi-action-info-outline"></i> <b>Capacité</b>: {{ field.capacity }} joueurs</p>
                            <p>
                                {% set hideClass = null %}
                                {% for planning in field.planning if planning.field.id == field.id %}
                                    <i class="mdi-notification-event-available"></i> <b>Période</b>: De <b>{{ planning.dateStart|date('d/m/Y') }}</b> à <b>{{ planning.dateEnd|date('d/m/Y') }}</b>
                                {% else %}
                                    {% set hideClass = 'hide' %}
                                    <i class="mdi-notification-event-available"></i> <b>Période</b>: <span class="red-text"><i class="mdi-alert-warning"></i> Non disponible</span>
                                {% endfor %}
                            </p>
                        </div>
                        <div class="col s3"><span class="btn disabled">{% if 'now'|date('Y-m-d') == date_search|date('Y-m-d') %} Aujourd'hui {% else %} {{ date_search|date|localizeddate('full', 'none', app.request.locale ) }} {% endif %}</span></div>
                    </div>
                    {#<div class="card-action center">#}
                    {#<span class="btn disabled">{{ date_search|date('l') }}, {{ date_search|date('d-m-Y') }}</span>#}
                    {#</div>#}
                    {#==== calculer de nombre des jours dans le  planning =============================#}
                    {% for planning in field.planning if planning.field.id == field.id %}
                        {#===========================================================================================#}
                        {#=== Si la date est inferieur a la date de fin de planning =================================#}
                        {#===========================================================================================#}
                        {% if planning.dateStart|date('U') > date_search|date('U') %}
                            <div class="card-action center grey lighten-5">
                                <span class="red-text">~~{#<i class="mdi-alert-warning"></i><br>#} Aucun résultat trouvé ! ~~</span>
                            </div>
                            {#===========================================================================================#}
                            {#=== Si la date d'aujourd'hui est superieur ================================================#}
                            {#===========================================================================================#}
                        {% elseif 'now'|date('U') > date_search|date('U') %}
                            <div class="card-action center grey lighten-5">
                                <span class="red-text">~~{#<i class="mdi-alert-warning"></i><br>#} Aucun résultat trouvé ! ~~</span>
                            </div>
                            {#===========================================================================================#}
                            {#=== Si la date est superieur a la date de fin de planning =================================#}
                            {#===========================================================================================#}
                        {% elseif planning.dateEnd|date('Y-m-d') < date_search|date('Y-m-d') %}
                            <div class="card-action center grey lighten-5">
                                <span class="red-text">~~{#<i class="mdi-alert-warning"></i><br>#} Aucun résultat trouvé ! ~~</span>
                            </div>
                            {#===========================================================================================#}
                            {#========================================== End ============================================#}
                            {#===========================================================================================#}
                        {% else %}
                            {#==========================================================================================#}
                            {#=== Si c'est la date d'aujourd'huit ======================================================#}
                            {#==========================================================================================#}
                            {% set nowColor = 'grey lighten-4' %}
                            <div class="card-action center session-day-{{ field.id }} {{ nowColor }}">
                                <span class="center-align">
                                {% if "now"|date('Y-m-d') == date_search|date('Y-m-d') %}
                                    {% for day in days %}
                                        {% if day.name == date_search|date('l') %}
                                            {% for price in day.Price %}
                                                {% for sessionP in price.Session %}
                                                    {% for sessionF in field.session %}
                                                        {% if sessionF.id == sessionP.id %}
                                                            {% if sessionF.timeStart|date('H:i') >= 'now'|date('H:i') %}
                                                                <!--==== Session button content =====================-->
                                                                {% set bookSelected %} <a class="tooltipped btn-booking-subscription" data-position="top" data-delay="50" data-tooltip="{{ price.amount }} TND" data-href="{{ path('subscription_basket_new', {'field': field.id ,'date': date_search|date('Y/m/d'), 'timeS': sessionF.timeStart|date('H:i'), 'timeE': sessionF.timeEnd|date('H:i'), 'price': price.amount }) }}"><div class="chip waves-effect waves-light lime"><i class="mdi-action-alarm"></i>  {{ sessionF.timeStart|date('H:i') }}</div></a> {% endset %}
                                                                <!--==== Session already booked =====================-->
                                                                {% for booking in bookings if booking.field.id == field.id %}
                                                                    {% if booking.date|date('Y-m-d') == date_search|date('Y-m-d') and booking.timeStart|date('H:i') == sessionF.timeStart|date('H:i') %}
                                                                        {% set bookSelected %} <a class="disabled"><div class="chip red lighten-1 red-text text-lighten-4"><i class="mdi-action-alarm"></i>  {{ sessionF.timeStart|date('H:i') }}</div></a> {% endset %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                                <!--==== Session academy ============================-->
                                                                {% for program in day.Program %}
                                                                    {% for sessionA in program.Session if sessionF.id == sessionA.id %}
                                                                        {% if program.field.id == field.id %}
                                                                            {% set bookSelected %} <a class="disabled"><div class="chip"><i class="mdi-action-alarm"></i>  {{ sessionF.timeStart|date('H:i') }}</div></a> {% endset %}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endfor %}
                                                                <!--==== Session available for booking ==============-->
                                                                {{ bookSelected }}
                                                            {% else %}
                                                                <!--==== Session passed =============================-->
                                                                <a class="disabled"><div class="chip"><i class="mdi-action-alarm"></i>  {{ sessionF.timeStart|date('H:i') }}</div></a>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% for day in days %}
                                        {% if day.name == date_search|date('l') %}
                                            {% for price in day.Price %}
                                                {% for sessionP in price.Session %}
                                                    {% for sessionF in field.session %}
                                                        {% if sessionF.id == sessionP.id %}
                                                            <!--==== Session button content =========================-->
                                                            {% set bookSelected %} <a class="tooltipped btn-booking-subscription" data-position="top" data-delay="50" data-tooltip="{{ price.amount }} TND" data-href="{{ path('subscription_basket_new', {'field': field.id ,'date': date_search|date('Y/m/d'), 'timeS': sessionF.timeStart|date('H:i'), 'timeE': sessionF.timeEnd|date('H:i'), 'price': price.amount }) }}"><div class="chip waves-effect waves-light lime"><i class="mdi-action-alarm"></i>  {{ sessionF.timeStart|date('H:i') }}</div></a> {% endset %}
                                                            <!--==== Session already booked =========================-->
                                                            {% for booking in bookings if booking.field.id == field.id %}
                                                                {% if booking.date|date('Y-m-d') == date_search|date('Y-m-d') and booking.timeStart|date('H:i') == sessionF.timeStart|date('H:i') %}
                                                                    {% set bookSelected %} <a class="disabled"><div class="chip red lighten-1 red-text text-lighten-4"><i class="mdi-action-alarm"></i>  {{ sessionF.timeStart|date('H:i') }}</div></a> {% endset %}
                                                                {% endif %}
                                                            {% endfor %}
                                                            <!--==== Session academy ================================-->
                                                            {% for program in day.Program %}
                                                                {% for sessionA in program.Session if sessionF.id == sessionA.id %}
                                                                    {% if program.field.id == field.id %}
                                                                        {% set bookSelected %} <a class="disabled"><div class="chip"><i class="mdi-action-alarm"></i>  {{ sessionF.timeStart|date('H:i') }}</div></a> {% endset %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endfor %}
                                                            <!--==== Session available for booking ==================-->
                                                            {{ bookSelected }}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                </span>
                            </div>
                            {#===========================================================================================#}
                            {#========================================== End ============================================#}
                            {#===========================================================================================#}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}

{% else %}

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content row">
                    <div class="col s3">
                        <span class="card-title"><i class="medium mdi-action-view-array left"></i> {{ fields.name }}</span>
                    </div>
                    <div class="col s6">
                        <p><i class="mdi-action-info-outline"></i> <b>Capacité</b>: {{ fields.capacity }} joueurs</p>
                        <p>
                            {% set hideClass = null %}
                            {% for planning in fields.planning if planning.field.id == fields.id %}
                                <i class="mdi-notification-event-available"></i> <b>Période</b>: De <b>{{ planning.dateStart|date('d/m/Y') }}</b> à <b>{{ planning.dateEnd|date('d/m/Y') }}</b>
                            {% else %}
                                {% set hideClass = 'hide' %}
                                <i class="mdi-notification-event-available"></i> <b>Période</b>: <span class="red-text"><i class="mdi-alert-warning"></i> Non disponible</span>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="col s3"><span class="btn disabled">{% if 'now'|date('Y-m-d') == date_search|date('Y-m-d') %} Aujourd'hui {% else %} {{ date_search|date|localizeddate('full', 'none', app.request.locale ) }} {% endif %}</span></div>
                </div>
                {#<div class="card-action center">#}
                {#<span class="btn disabled">{{ date_search|date('l') }}, {{ date_search|date('d-m-Y') }}</span>#}
                {#</div>#}
                {#==== calculer de nombre des jours dans le  planning =============================#}
                {% for planning in fields.planning if planning.field.id == fields.id %}
                    {#===========================================================================================#}
                    {#=== Si la date est inferieur a la date de fin de planning =================================#}
                    {#===========================================================================================#}
                    {% if planning.dateStart|date('Y-m-d') > date_search|date('Y-m-d') %}
                        <div class="card-action center grey lighten-5">
                            <span class="red-text">~~{#<i class="mdi-alert-warning"></i><br>#} Aucun résultat trouvé ! ~~</span>
                        </div>
                        {#===========================================================================================#}
                        {#=== Si la date d'aujourd'hui est superieur ================================================#}
                        {#===========================================================================================#}
                    {% elseif 'now'|date('Y-m-d') > date_search|date('Y-m-d') %}
                        <div class="card-action center grey lighten-5">
                            <span class="red-text">~~{#<i class="mdi-alert-warning"></i><br>#} Aucun résultat trouvé ! ~~</span>
                        </div>
                        {#===========================================================================================#}
                        {#=== Si la date est superieur a la date de fin de planning =================================#}
                        {#===========================================================================================#}
                    {% elseif planning.dateEnd|date('Y-m-d') < date_search|date('Y-m-d') %}
                        <div class="card-action center grey lighten-5">
                            <span class="red-text">~~{#<i class="mdi-alert-warning"></i><br>#} Aucun résultat trouvé ! ~~</span>
                        </div>
                        {#===========================================================================================#}
                        {#========================================== End ============================================#}
                        {#===========================================================================================#}
                    {% else %}
                        {#==========================================================================================#}
                        {#=== Si c'est la date d'aujourd'huit ======================================================#}
                        {#==========================================================================================#}
                        {% set nowColor = 'grey lighten-4' %}
                        <div class="card-action center session-day-{{ fields.id }} {{ nowColor }}">
                            <span class="center-align">
                            {% if "now"|date('Y-m-d') == date_search|date('Y-m-d') %}
                                {% for day in days %}
                                    {% if day.name == date_search|date('l') %}
                                        {% for price in day.Price %}
                                            {% for sessionP in price.Session %}
                                                {% for sessionF in fields.session %}
                                                    {% if sessionF.id == sessionP.id %}
                                                        {% if sessionF.timeStart|date('H:i') >= 'now'|date('H:i') %}
                                                            <!--==== Session button content =========================-->
                                                            {% set bookSelected %} <a class="tooltipped btn-booking-subscription" data-position="top" data-delay="50" data-tooltip="{{ price.amount }} TND" data-href="{{ path('subscription_basket_new', {'field': fields.id ,'date': date_search|date('Y/m/d'), 'timeS': sessionF.timeStart|date('H:i'), 'timeE': sessionF.timeEnd|date('H:i'), 'price': price.amount }) }}"><div class="chip waves-effect waves-light lime"><i class="mdi-action-alarm"></i>  {{ sessionF.timeStart|date('H:i') }}</div></a> {% endset %}
                                                            <!--==== Session already booked =========================-->
                                                            {% for booking in bookings if booking.field.id == fields.id %}
                                                                {% if booking.date|date('Y-m-d') == date_search|date('Y-m-d') and booking.timeStart|date('H:i') == sessionF.timeStart|date('H:i') %}
                                                                    {% set bookSelected %} <a class="disabled"><div class="chip red lighten-1 red-text text-lighten-4"><i class="mdi-action-alarm"></i>  {{ sessionF.timeStart|date('H:i') }}</div></a> {% endset %}
                                                                {% endif %}
                                                            {% endfor %}
                                                            <!--==== Session academy ================================-->
                                                            {% for program in day.Program %}
                                                                {% for sessionA in program.Session if sessionF.id == sessionA.id %}
                                                                    {% if program.field.id == fields.id %}
                                                                        {% set bookSelected %} <a class="disabled"><div class="chip"><i class="mdi-action-alarm"></i>  {{ sessionF.timeStart|date('H:i') }}</div></a> {% endset %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endfor %}
                                                            <!--==== Session available for booking ==================-->
                                                            {{ bookSelected }}
                                                        {% else %}
                                                            <!--==== Session passed =================================-->
                                                            <a class="disabled"><div class="chip"><i class="mdi-action-alarm"></i>  {{ sessionF.timeStart|date('H:i') }}</div></a>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% for day in days %}
                                    {% if day.name == date_search|date('l') %}
                                        {% for price in day.Price %}
                                            {% for sessionP in price.Session %}
                                                {% for sessionF in fields.session %}
                                                    {% if sessionF.id == sessionP.id %}
                                                        <!--==== Session button content ==============================-->
                                                        {% set bookSelected %} <a class="tooltipped btn-booking-subscription" data-position="top" data-delay="50" data-tooltip="{{ price.amount }} TND" data-href="{{ path('subscription_basket_new', {'field': fields.id ,'date': date_search|date('Y/m/d'), 'timeS': sessionF.timeStart|date('H:i'), 'timeE': sessionF.timeEnd|date('H:i'), 'price': price.amount }) }}"><div class="chip waves-effect waves-light lime"><i class="mdi-action-alarm"></i>  {{ sessionF.timeStart|date('H:i') }}</div></a> {% endset %}
                                                        <!--==== Session already booked =============================-->
                                                        {% for booking in bookings if booking.field.id == fields.id %}
                                                            {% if booking.date|date('Y-m-d') == date_search|date('Y-m-d') and booking.timeStart|date('H:i') == sessionF.timeStart|date('H:i') %}
                                                                {% set bookSelected %} <a class="disabled"><div class="chip red lighten-1 red-text text-lighten-4"><i class="mdi-action-alarm"></i>  {{ sessionF.timeStart|date('H:i') }}</div></a> {% endset %}
                                                            {% endif %}
                                                        {% endfor %}
                                                        <!--==== Session academy ====================================-->
                                                        {% for program in day.Program %}
                                                            {% for sessionA in program.Session if sessionF.id == sessionA.id %}
                                                                {% if program.field.id == fields.id %}
                                                                    {% set bookSelected %} <a class="disabled"><div class="chip"><i class="mdi-action-alarm"></i>  {{ sessionF.timeStart|date('H:i') }}</div></a> {% endset %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endfor %}
                                                        <!--==== Session available for booking ======================-->
                                                        {{ bookSelected }}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            </span>
                        </div>
                        {#===========================================================================================#}
                        {#========================================== End ============================================#}
                        {#===========================================================================================#}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endif %}





