{% extends 'base.html.twig' %}

{% block body %}

    <!-- START CONTENT -->
    <section id="content">

        <!--breadcrumbs start-->
        <div id="breadcrumbs-wrapper">
            <!-- Search for small screen -->
            <div class="header-search-wrapper grey hide-on-large-only">
                <i class="mdi-action-search active"></i>
                <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <h5 class="breadcrumbs-title">Calendrier</h5>
                        <ol class="breadcrumbs">
                            <li><a href="{{ path('homepage') }}">Dashboard</a></li>
                            {#<li><a href="#">Pages</a></li>#}
                            <li class="active">Calendrier</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!--breadcrumbs end-->

        <!--start container-->
        <div class="container">
            <div class="section">
                {#<div class="divider"></div>#}
                    <div class="row">
                        <div class="col s12 m12 l12">

                            <div class="row">
                                <div class="col s12">
                                    <ul class="tabs tab-demo z-depth-1 grey darken-3" style="width: 100%;">
                                        {% for field in fields %}
                                            <li class="tab col s3"><a class="white-text active" href="#field{{ loop.index }}" data-route="{{ path('calendar_show', { 'id': field.id}) }}" data-id="{{ field.id }}"><i class="mdi-action-view-array"></i> {{ field.name }}</a></li>
                                        {% endfor %}
                                        <div class="indicator" style="right: -1px; left: 693px;"></div><div class="indicator" style="right: -1px; left: 693px;"></div>
                                    </ul>
                                </div>
                                <div class="col s12">
                                    {% for field in fields %}
                                        <div id="field{{ loop.index }}" class="col s12 white z-depth-1" style="display: block;">

                                            <div id="preloader-page-content" class="card-panel center-align z-depth-0" style="position: absolute; top: 50%; left: 50%;">
                                                <div class="preloader-wrapper small active">
                                                    <div class="spinner-layer spinner-blue-only">
                                                        <div class="circle-clipper left">
                                                            <div class="circle"></div>
                                                        </div><div class="gap-patch">
                                                            <div class="circle"></div>
                                                        </div><div class="circle-clipper right">
                                                            <div class="circle"></div>
                                                        </div>
                                                    </div>
                                                </div><br>S'il vous plaît, attendez...
                                            </div>

                                            <div id="full-calendar" data-route="{{ path('calendar_show', { 'id': field.id}) }}">
                                                <div id="calendar"></div>
                                                <div id="calendar{{ field.id }}"></div>
                                            </div>

                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    </div>

                    {#<div class="section">#}
                        {#<p class="caption">Tables are a nice way to organize a lot of data. We provide a few utility classes to help you style your table as easily as possible. In addition, to improve mobile experience, all tables on mobile-screen widths are centered automatically.</p>#}
                        {#<div class="col s2">#}
                            {#<div id='external-events' style="padding-top: 0px">#}
                                {#<h4 class="header">Draggable Events</h4>#}
                                {#<div class='fc-event cyan'>Match</div>#}
                                {#<div class='fc-event teal'>Abonnement</div>#}
                                {#<div class='fc-event pink lighten-1'>Académie</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="divider"></div>#}
                    {#</div>#}
            </div>
        </div>
        <!--end container-->

    </section>
    <!-- END CONTENT -->

    <style>
        .tabs .indicator {
            background-color: #ffd600 !important;
        }
    </style>


{% endblock body %}
