{% block body %}

    <!-- Modal Structure -->
    {{ form_start(form, {'attr':{'id': 'formValidate', 'class': 'formValidate', 'novalidate': 'novalidate'}}) }}
    <div class="modal-content">
        <h5 class="flow-text"><i class="small left mdi-editor-border-color"></i> Modifiez événement</h5><br>
        {#<div class="divider"></div><br>#}
        {{ form_row(form._token) }}
        <div class="row">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="input-field col s12">
                    <label class="active">Centre*</label>
                    {{ form_widget(form.center) }}
                </div>
            {% else %}
                <div class="input-field col s12 hide">
                    <input type="hidden" id="event_center" name="event[center]" required="required" value="{{ app.user.center.id }}"/>
                </div>
            {% endif %}
            <div class="input-field col s6">
                <label for="title" class="active">Titre*</label>
                {{ form_widget(form.title, {'attr': {'data-error': '.title'}}) }}
                <div class="title"></div>
            </div>
            <div class="input-field col s6">
                <label for="date_end" class="active">Date de fin*</label>
                {{ form_widget(form.date_end, {'attr': {'data-error': '.date_end'}}) }}
                <div class="date_end"></div>
            </div>
            <div class="input-field col s12 m12 ">
                <div class="image-exist">
                    <input type="text" id="input-file-now" name="event[image]" class="dropify" value="{{ event.image }}" data-disable-remove="true" data-default-file="{% if event.image is empty %}{% else %}{{ asset('uploads/event/'~event.image) }}{% endif %}" />
                </div>
                <div class="image-edit"></div>
                <br><button type="button" class="btn-clear waves-effect waves-light blue lighten-4 blue-text btn z-depth-0 right" id="btn-edit">Modifier</button>
            </div>
            <div class="input-field col s12">
                <label for="content" class="active">Contenu*</label>
                {{ form_widget(form.content, {'id': 'editable', 'attr': {'data-error': '.content'}}) }}
                <div class="content"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="modal-action waves-effect waves-light yellow accent-4 black-text btn" id="save">Enregistrer</button>
        <button type="button" class="modal-action modal-close waves-effect btn-flat" id="cancel">Annuler</button>
    </div>
    {{ form_end(form, { 'render_rest': false } ) }}

{% endblock %}

<script>
    $(document).ready(function() {
        // avatar
        var $imgEdit = '<input type="file" id="input-file-now" name="event[image]" class="dropify" data-default-file="" />';
        $('.btn-clear').on('click', function () {
            $('.image-exist').remove();
            $('.image-edit').append($imgEdit);
            $('#btn-edit').remove();
            $('.dropify').dropify({
                messages: {
                    default: 'Glissez-déposez une image ici ou cliquez',
                    replace: 'Glissez-déposez une image ou cliquez pour remplacer',
                    remove:  'Supprimer',
                    error:   'Désolé, le fichier trop volumineux'
                }
            });
        });
    });
</script>


