{% block body %}

    <!-- Modal Structure -->
    {{ form_start(form, {'attr':{'id': 'formValidate', 'class': 'formValidate', 'novalidate': 'novalidate'}}) }}
    <div class="modal-content">
        <h5 class="flow-text"><i class="small left mdi-content-add-circle"></i> Ajoutez un nouveau événement</h5><br>
        {#<div class="divider"></div><br>#}
        {{ form_row(form._token) }}
        <div class="row">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="input-field col s12">
                    <label class="active">Centre*</label>
                    {{ form_widget(form.center) }}
                </div>
            {% else %}
                <div class="input-field col s12 hide">
                    <input type="hidden" id="event_center" name="event[center]" required="required" value="{{ app.user.center.id }}"/>
                </div>
            {% endif %}
            <div class="input-field col s12">
                <label for="title" class="active">Titre*</label>
                {{ form_widget(form.title, {'attr': {'data-error': '.title'}}) }}
                <div class="title"></div>
            </div>
            <div class="input-field col s6">
                <label for="date_start">Date de début*</label>
                {{ form_widget(form.date_start, {'attr': {'data-error': '.date_start'}}) }}
                <div class="date_start"></div>
            </div>
            <div class="input-field col s6">
                <label for="date_end">Date de fin*</label>
                {{ form_widget(form.date_end, {'attr': {'data-error': '.date_end'}}) }}
                <div class="date_end"></div>
            </div>
            <div class="input-field col s12">
                <label for="content">Contenu*</label>
                {{ form_widget(form.content, {'attr': {'data-error': '.content'}}) }}
                <div class="content"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="modal-action waves-effect waves-light yellow accent-4 black-text btn" id="save">Enregistrer</button>
        <button type="button" class="modal-action modal-close waves-effect btn-flat" id="cancel">Annuler</button>
    </div>
    {{ form_end(form, { 'render_rest': false } ) }}

{% endblock %}

<script>

    $(document).ready(function(){

        $("#formValidate").validate({
            rules: {
                'event[title]' : {
                    required: true
                },
                'event[date_start]': {
                    required: true,
                    minlength: 2
                },
                'event[date_end]': {
                    required: true,
                    minlength: 2
                },
                'event[content]': {
                    required: true
                }
            },
            //For custom messages
            messages: {
                'event[title]' : {
                    required: "Champs requis"
                },
                'event[date_start]': {
                    required: "Champs requis"
                },
                'event[date_end]': {
                    required: "Champs requis"
                },
                'event[content]': {
                    required: "Champs requis"
                }
            },
            errorElement : 'div',
            errorPlacement: function(error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            }
        });

    });

</script>


