{% if fields is defined %}

    {% for field in fields %}
        <div class="card">{# class="card sticky-action"#}
            <div class="card-content row" style="margin-bottom: 0px">
                <div class="col s12 m3 l3">
                    <div class="card-title">
                        <img class="left" src="{{ asset('public/images/soccer_icon/soccer34.png') }}" width="25%" alt="field icon">
                        <span style="line-height: 70px; padding: 0 0.5rem">{{ field.name }}</span>
                    </div>
                </div>
                <div class="col s12 m6 l6">
                    <p><i class="tiny material-icons ">info_outline</i> <b>Capacité</b>: {{ field.capacity }} joueurs</p>
                    <p>
                        {% set hideClass = null %}
                        {% for planning in field.planning if planning.field.id == field.id %}
                            <i class="tiny material-icons">event_available</i> <b>Période</b>: De <b>{{ planning.dateStart|date('d/m/Y') }}</b> à <b>{{ planning.dateEnd|date('d/m/Y') }}</b>
                        {% else %}
                            {% set hideClass = 'hide' %}
                            <i class="tiny material-icons">event_available</i> <b>Période</b>: <span class="red-text"><i class="tiny material-icons">warning</i> Non disponible</span>
                        {% endfor %}
                    </p>
                    <p><i class="tiny material-icons ">event</i> <b>Date</b>:  <span class="grey-text">{% if 'now'|date('Y-m-d') == date_search|date('Y-m-d') %}Aujourd'hui{% else %}{{ date_search|date|localizeddate('full', 'none', app.request.locale ) }}{% endif %}</span></p>
                </div>
                <div class="col s12 m3 l3 right">
                    <i class="material-icons right activator">more_vert</i>
                </div>
            </div>
            {#==== calculer de nombre des jours dans le  planning =============================#}
            {% for planning in field.planning if planning.field.id == field.id %}
                {#===========================================================================================#}
                {#=== Si la date est inferieur a la date de fin de planning =================================#}
                {#===========================================================================================#}
                {% if planning.dateStart|date('Y-m-d') > date_search|date('Y-m-d') %}
                    <div class="card-action center grey lighten-4">
                        <span class="red-text">~~{#<i class="mdi-alert-warning"></i>#} Aucun résultat trouvé ! ~~</span>
                    </div>
                    {#===========================================================================================#}
                    {#=== Si la date d'aujourd'hui est superieur ================================================#}
                    {#===========================================================================================#}
                {% elseif 'now'|date('Y-m-d') > date_search|date('Y-m-d') %}
                    <div class="card-action center grey lighten-4">
                        <span class="red-text">~~{#<i class="mdi-alert-warning"></i>#} Aucun résultat trouvé ! ~~</span>
                    </div>
                    {#===========================================================================================#}
                    {#=== Si la date est superieur a la date de fin de planning =================================#}
                    {#===========================================================================================#}
                {% elseif planning.dateEnd|date('Y-m-d') < date_search|date('Y-m-d') %}
                    <div class="card-action center grey lighten-4">
                        <span class="red-text">~~{#<i class="mdi-alert-warning"></i>#} Aucun résultat trouvé ! ~~</span>
                    </div>
                    {#===========================================================================================#}
                    {#========================================== End ============================================#}
                    {#===========================================================================================#}
                {% else %}
                    {#==========================================================================================#}
                    {#=== Si c'est la date d'aujourd'huit ======================================================#}
                    {#==========================================================================================#}
                    <div class="card-action center session-day-{{ field.id }} grey lighten-4">
                        <span class="center-align">
                        {% if "now"|date('Y-m-d') == date_search|date('Y-m-d') %}
                            {% for day in days %}
                                {% if day.name == date_search|date('l') %}
                                    {% for price in day.Price %}
                                        {% for sessionP in price.Session %}
                                            {% for sessionF in field.session %}
                                                {% if sessionF.id == sessionP.id %}
                                                    {% if sessionF.timeStart|date('H:i') >= 'now'|date('H:i') %}
                                                        <!--==== Session button content =============================-->
                                                        {% set bookSelected %} <a class="tooltipped modal_trigger" data-position="top" data-delay="50" data-tooltip="{{ price.amount }}€" href="{{ path('booking_details', {'field': field.id | urlencrypt ,'date': date_search|date('Y-m-d') | urlencrypt , 'timeS': sessionF.timeStart|date('H:i') | urlencrypt, 'timeE': sessionF.timeEnd|date('H:i') | urlencrypt, 'price': price.amount | urlencrypt }) }}"><div class="chip waves-effect waves-light lime"><i class="tiny material-icons">timer</i>  {{ sessionF.timeStart|date('H:i') }}</div></a> {% endset %}
                                                        <!--==== Session already booked =============================-->
                                                        {% for booking in bookings if booking.field.id == field.id %}
                                                            {% if booking.date|date('Y-m-d') == date_search|date('Y-m-d') and booking.timeStart|date('H:i') == sessionF.timeStart|date('H:i') %}
                                                                {% set bookSelected %} <a class="disabled"><div class="chip red lighten-1 red-text text-lighten-4"><i class="tiny material-icons">timer</i>  {{ sessionF.timeStart|date('H:i') }}</div></a> {% endset %}
                                                            {% endif %}
                                                        {% endfor %}
                                                        <!--==== Session academy ====================================-->
                                                        {% for program in day.Program %}
                                                            {% for sessionA in program.Session if sessionF.id == sessionA.id %}
                                                                {% if program.field.id == field.id %}
                                                                    {% set bookSelected %} <a class="disabled"><div class="chip"><i class="tiny material-icons">timer</i> {{ sessionF.timeStart|date('H:i') }}</div></a> {% endset %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endfor %}
                                                        <!--==== Session available for booking ======================-->
                                                        {{ bookSelected }}
                                                    {% else %}
                                                        <!--==== Session passed =====================================-->
                                                        <a class="disabled"><div class="chip"><i class="tiny material-icons">timer</i>  {{ sessionF.timeStart|date('H:i') }}</div></a>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for day in days %}
                                {% if day.name == date_search|date('l') %}
                                    {% for price in day.Price %}
                                        {% for sessionP in price.Session %}
                                            {% for sessionF in field.session %}
                                                {% if sessionF.id == sessionP.id %}
                                                    <!--==== Session button content =================================-->
                                                    {% set bookSelected %} <a class="tooltipped modal_trigger" data-position="top" data-delay="50" data-tooltip="{{ price.amount }}€" href="{{ path('booking_details', {'field': field.id | urlencrypt ,'date': date_search|date('Y-m-d') | urlencrypt , 'timeS': sessionF.timeStart|date('H:i') | urlencrypt, 'timeE': sessionF.timeEnd|date('H:i') | urlencrypt, 'price': price.amount | urlencrypt }) }}"><div class="chip waves-effect waves-light lime"><i class="tiny material-icons">timer</i>  {{ sessionF.timeStart|date('H:i') }}</div></a> {% endset %}
                                                    <!--==== Session already booked =================================-->
                                                    {% for booking in bookings if booking.field.id == field.id %}
                                                        {% if booking.date|date('Y-m-d') == date_search|date('Y-m-d') and booking.timeStart|date('H:i') == sessionF.timeStart|date('H:i') %}
                                                            {% set bookSelected %} <a class="disabled"><div class="chip red lighten-1 red-text text-lighten-4"><i class="tiny material-icons">timer</i>  {{ sessionF.timeStart|date('H:i') }}</div></a> {% endset %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    <!--==== Session academy ========================================-->
                                                    {% for program in day.Program %}
                                                        {% for sessionA in program.Session if sessionF.id == sessionA.id %}
                                                            {% if program.field.id == field.id %}
                                                                {% set bookSelected %} <a class="disabled"><div class="chip"><i class="tiny material-icons">timer</i> {{ sessionF.timeStart|date('H:i') }}</div></a> {% endset %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endfor %}
                                                    <!--==== Session available for booking ==========================-->
                                                    {{ bookSelected }}
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        </span>
                    </div>
                    {#===========================================================================================#}
                    {#========================================== End ============================================#}
                    {#===========================================================================================#}
                {% endif %}
            {% endfor %}
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{ field.name }}<i class="material-icons right">close</i></span>
                <p>{{ field.description }}.</p>
            </div>
        </div>
    {% endfor %}

{#{% else %}#}



{% endif %}