{% extends 'base.html.twig' %}

{% block body %}

    <!-- START CONTENT -->
    <section id="content">

        <!--breadcrumbs start-->
        <div id="breadcrumbs-wrapper">
            <!-- Search for small screen -->
            <div class="header-search-wrapper grey hide-on-large-only">
                <i class="mdi-action-search active"></i>
                <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <h5 class="breadcrumbs-title">Vidéos</h5>
                        <ol class="breadcrumbs">
                            <li><a href="/">Dashboard</a></li>
                            <li class="active">Vidéos</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!--breadcrumbs end-->

        <!--start container-->
        <div class="container">
            <div class="section">
                {% if videos == null %}
                    <div id="card-alert" class="card deep-purple lighten-5">
                        <div class="card-content deep-purple-text">
                            <p><i class="mdi-action-info "></i> INFO : Ajouter <i class="mdi-content-add-circle green-text"></i> une vidéo du match jouée sur un terreain équipé par caméra.</p>
                            <p><i class="mdi-action-info "></i> INFO : Pour ajouter des vidéos d'abord il faut créer une chaine sur Youtube pour mettre les videos  en ligne.</p>
                            <p><i class="mdi-action-info "></i> 1 - Sur un ordinateur, accédez a votre chaine YouTube et intégrer la vidéo que vous souhaitez.</p>
                            <p><i class="mdi-action-info "></i> 2 - Sous la vidéo, cliquez sur Partager.</p>
                            <p><i class="mdi-action-info "></i> 3 - Cliquez sur Intégrer.</p>
                            <p><i class="mdi-action-info "></i> 5 - Copiez l'url figurant dans le code html de la zone qui s'affiche.<br>
                                <i class="mdi-action-info "></i> Exemple: <span class="purple-text text-lighten-4">iframe width="560" height="315"</span> src="<b>https://www.youtube.com/embed/XXXXXXXXXX</b>" <span class="deep-purple-text text-lighten-4">frameborder="0" allow="autoplay; encrypted-media" allowfullscreen iframe</span>
                            </p>
                            <p><i class="mdi-action-info "></i> 6  - Collez-le ensuite dans le champs url de la formulaire ajouter vidéo .</p>
                            <p><i class="mdi-action-info "></i> Pour savoir plus consulter ce : <a href="https://support.google.com/youtube/answer/171780?hl=fr">Lien</a></p>
                        </div>
                        <button type="button" class="close deep-purple-text" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                {% endif %}
                <div class="divider"></div>
                <!--DataTables example-->
                <div id="table-datatables" class="card-panel">
                    <div class="row">
                        <div class="col s12">
                            <table id="data-table-simple" class="responsive-table display" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Réference</th>
                                    <th>Email</th>
                                    <th>Date</th>
                                    <th>Temps</th>
                                    <th>Url</th>
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}<th>Centre</th>{% endif %}
                                    <th class="center-align">Actions</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for video in videos %}
                                    <tr>
                                        <td>{{ video.id }}</td>
                                        <td>{{ video.booking.reference }}</td>
                                        <td>{{ video.booking.customer.email }}</td>
                                        <td>{{ video.booking.date|date('d/m/Y') }}</td>
                                        <td>{{ video.booking.timeStart|date('H:i') }}</td>
                                        <td>{{ video.url }}</td>
                                        {% if is_granted('ROLE_SUPER_ADMIN') %}<td><div class="chip"><i class="mdi-communication-business"></i> {{ video.booking.field.center.name }}</div></td>{% endif %}
                                        <td class="center-align">
                                            <button type="button" data-href="{{ path('video_show', { 'id': video.id }) }}" class="btn-floating waves-effect waves-light grey lighten-4 modal_trigger"><i class="mdi-av-videocam grey-text"></i></button>
                                            <button type="button" data-href="{{ path('video_edit', { 'id': video.id }) }}" class="btn-floating waves-effect waves-light grey lighten-4 modal_trigger"><i class="mdi-editor-mode-edit grey-text"></i></button>
                                            <button type="button" data-href="{{ path('video_delete', { 'id': video.id }) }}" class="btn-floating waves-effect lighten-4 waves-light grey btn-warning-confirm"><i class="mdi-action-delete grey-text"></i></button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--end container-->

    </section>
    <!-- END CONTENT -->

    <!-- Btn Add Trigger -->
    <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
        <button type="button" data-href="{{ path('video_new') }}" class="btn-floating waves-effect waves-light green modal_trigger"><i class="mdi-content-add-circle green-text text-lighten-4"></i></button>
    </div>

    <!-- Loader -->
    {% include 'AppBundle:loader:loader_form.html.twig' %}
    <!-- end Loader -->

{% endblock body %}