{% block body %}

    <!-- Modal Structure -->
    {{ form_start(form, {'attr':{'id': 'formValidate', 'class': 'formValidate', 'novalidate': 'novalidate'}}) }}
    <div class="modal-content">
        <h5 class="flow-text"><i class="small left mdi-content-add-circle"></i> Ajouter un nouveau vidéo</h5><br>
        {#<div class="divider"></div><br>#}
        {{ form_row(form._token) }}
        <div class="row">
            <div class="input-field col s12">
                <label for="video_booking" class="active">Réservation*</label>
                {{ form_widget(form.booking, {'attr': {'data-error': '.booking'}}) }}
                <div class="booking"></div>
            </div>
            <div class="input-field col s12">
                <label for=video_url" class="active">Url*</label>
                {{ form_widget(form.url, {'attr':{'placeholder': 'https://www.youtube.com/embed/xx-xxxxxxxx', 'data-error': '.url'}}) }}
                <div class="url"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer ">
        <button type="button" class="modal-action waves-effect waves-light yellow accent-4 black-text btn" id="save">Enregistrer</button>
        <button type="button" class="modal-action modal-close waves-effect btn-flat" id="cancel">Annuler</button>
    </div>
    {{ form_end(form, { 'render_rest': false } ) }}

{% endblock %}


<script>

    jQuery.validator.setDefaults({
        debug: true,
        success: "valid"
    });

    $(document).ready(function(){

        $("#formValidate").validate({
            rules: {
                'video[booking]' : {
                    required: true
                },
                'video[url]': {
                    required: true,
                    url: true
                }
            },
            //For custom messages
            messages: {
                'video[booking]' : {
                    required: "Champs requis"
                },
                'video[url]': {
                    required: "Champ requis",
                    url: "Veuillez entrer une URL valide"
                }
            },
            errorElement : 'div',
            errorPlacement: function(error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            }
        });

    });

</script>