{% form_theme form 'materialize_layout.html.twig' %}

{% block body %}

    <!-- Modal Structure -->
    {{ form_start(form, {'attr':{'id': 'formValidate', 'class': 'formValidate', 'novalidate': 'novalidate'}}) }}
    <div class="modal-content">
        <h5 class="flow-text"><i class="small left mdi-editor-border-color"></i> Modifiez tarif</h5><br>
        {#<div class="divider"></div><br>#}
        {{ form_row(form._token) }}
        <div class="row">
            <div class="input-field col s4">
                <label for="type" class="active">Type*</label>
                {{ form_widget(form.bookingType) }}
                <div class="errorTxt1"></div>
            </div>
            <div class="input-field col s4">
                <label for="field" class="active">Terrain*</label>
                {{ form_widget(form.field) }}
                <div class="field"></div>
            </div>
            <div class="input-field col s4">
                <label for="amount" class="">Montant TND*</label>
                {{ form_widget(form.amount) }}
                <div class="amount"></div>
            </div>
            <div class="input-field col s12">
                <label for="day" class="active">Jour*</label>
                {{ form_widget(form.day) }}
                <div class="day"></div>
            </div>
            <div class="input-field col s12">
                <div class="right-align">{% for item in price.day %}<div class="chip">{{ item|trans }}</div>&nbsp;{% endfor %}</div>
            </div>
            <div class="input-field col s12">
                <label for="session" class="active">Séances</label>
                {{ form_widget(form.session) }}
                <div class="session"></div>
            </div>
            <div class="input-field col s12">
                <div class="right-align">{% for item in price.session %}<div class="chip">{{ item }}</div>&nbsp;{% endfor %}</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="modal-action waves-effect waves-light yellow accent-4 black-text btn" id="save">Enregistrer</button>
        <button type="button" class="modal-action modal-close waves-effect btn-flat" id="cancel">Annuler</button>
    </div>
    {{ form_end(form, { 'render_rest': false } ) }}

{% endblock %}


